/*
Author: Conor Dixon
Tags: Website Project
*/
#body {
	font-family: Arial;
}  
/*#container {
	display: flex;
	background-color: lightblue;
	color: #333;
	border: 1px solid gray;
	padding: 10px;
	line-height: 130%; 
}*/
#header {
	display: flex center;
	background-color: #666;
	padding: 30px;
	text-align: center;
	font-size: 35px;
	color: white;
}
#mainsection {
	display: -webkit-flex;
	display: flex;
}
#footer {
	background-color: #777;
	padding: 10px;
	text-align: center;
	color: white;
}

